<p>
  <a href="https://bootstrap-levels.matchthetarget.com/levels/00_primary_button" target="_blank">Target</a>
</p>

<span class="base-button classy-button">Click me!</span>

<span class="base-button scary-button">Be careful!</span>

<style>
  .base-button{
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;

    box-shadow: 2px -1px 66px 39px rgba(0,0,0,0.32) inset;
    -webkit-box-shadow: 2px -1px 66px 39px rgba(0,0,0,0.32) inset;
    -moz-box-shadow: 2px -1px 66px 39px rgba(0,0,0,0.32) inset;
  }

  .fancy-button {
    background-color: blue;
    }

    .fancy-button:hover {
      background-color:darkblue;
    }

    .fancy-button:active {
      background-color:red;
    }

      .scary-button {
    background-color: red;
    }

    .scary-button:hover {
      background-color:darkred;
    }

    .scary-button:active {
      background-color:blue;
    }
</style>
